In [4]:
## Integers:
age = 35
print(age)
print(type(age))

35
<class 'int'>

In [5]:
## floating point datatype
height = 5.11
print(height)
print(type(height))

5.11
<class 'float'>

In [6]:
## string datatype example
name = "Saad"
print(name)
print(type(name))

Saad
<class 'str'>

In [8]:
## boolean
is_true = True
print(is_true)
print(type(is_true))

True
<class 'bool'>

In [10]:
a = 10 
b = 10

print(a == b)
print(a != b)
print(a > b)
print(a < b)
print(a >= b)
print(a <= b)

True
False
False
False
True
True

In [11]:
## Common errors:

result = "Hello" + 3

TypeError: can only concatenate str (not "int") to str

In [12]:
result = "Hello" + str(3)
print(result)

Hello3